# OP_NET Deployment Config
MNEMONIC="now coconut heavy senior cable claim senior holiday film rude film oven"
RPC_URL="https://testnet.opnet.org"
NETWORK="testnet"
WASM_PATH="./build/CoreContract.wasm"
FEE_RATE="5"
PRIORITY_FEE="0"
GAS_SAT_FEE="200000"
